<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mukul.companyAccounts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mukul.companyAccounts.SummeryActivity" />
        <activity android:name="com.mukul.companyAccounts.BillEditActivity" />
        <activity android:name="com.mukul.companyAccounts.ClientActivity" />
        <activity
            android:name="com.mukul.companyAccounts.AddTransecActivity"
            android:label="Add Transection"
            android:parentActivityName="com.mukul.companyAccounts.ClientActivity" />
        <activity
            android:name="com.mukul.companyAccounts.AddClientAvtivity"
            android:label="Add Client"
            android:parentActivityName="com.mukul.companyAccounts.MainActivity" />
        <activity
            android:name="com.mukul.companyAccounts.MainActivity"
            android:icon="@drawable/app_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="googleSignIn.ChooserActivity"
            android:label="ChooserActivity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>
        <activity
            android:name="googleSignIn.SignInActivity"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>
        <activity
            android:name="googleSignIn.SignInActivityWithDrive"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>
        <activity
            android:name="googleSignIn.IdTokenActivity"
            android:label="@string/name_id_token_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <activity
            android:name="googleSignIn.ServerAuthCodeActivity"
            android:label="@string/name_auth_code_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <activity
            android:name="googleSignIn.RestApiActivity"
            android:label="@string/name_rest_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>